body {
    
    background-color: #eee;
    font-family: 'Quicksand', sans-serif;
}
*, *:before, *:after{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#multitab-upload {
    
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 50px auto;
  background-color: #fff;
  
}

p {
    
    padding: 10px 30px 10px;
}

input {
    
    display: none;

}

section[id*='content'] {
    
    display: none;
    padding: 20px 0 0 0;
    border-top: 1px solid #dddddd;
}

label[for*='tab'] {
    
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
    
}

label[for*='tab']:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f030';
}

label[for*='2']:before {
  content: '\f03d';
}

label[for*='3']:before {
  content: '\f040';
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #00a6ae;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
  display: block;
}


@media screen and (max-width: 650px) {
    
    label[for*='tab']{
        
        font-size: 0;
    }
    
    label[for*='tab']:before {
        
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px){
    
    label[for*='tab']{
        
        padding: 15px;
    }
    
}

/*--UPLOAD FORM--*/

.uploader {
    
    display: inline-block;
    font-size: 16px;
    border: 1px dashed grey;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 10px 0 10px 65px;
    text-align: center;
    
}

.uploader label{
    
    display: inline-block;
    width: 150px;
    height: 150px;
}

input[type="file"] {
  display: none;
}

#file-image{
    
    display: inline;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    
}

#start{
    
    color: grey;
}

#start i.fa {
  font-size: 30px;
  margin-top: 55px;
  color: grey;
}

.uploader #file-image.hidden {
  display: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 320px) {
    
    .uploader {
        
        margin-left: 35px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1199px){
    
    .uploader {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px){
    
    .uploader {
        
        margin-left: 60px;
    }
}

/*--END UPLOAD FORM--*/

/*----NEXT BUTTON---*/

#next-button {
    
    display: flex;
    justify-content: center;
    padding: 30px 0 10px 0;
    cursor:pointer;
}

#next-button span {
    
    font-size: 20px;
    color: #00a6ae;
}

#next {
    width: 30px;
    height: 30px;
}
/*----END NEXT BUTTON---*/